<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FastSendSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="FastSendSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://raygansms.com/FastSend.asmx" binding="basicHttpBinding"
                bindingConfiguration="FastSendSoap" contract="FastSend_RayganSMS.FastSendSoap"
                name="FastSendSoap" />
        </client>
    </system.serviceModel>
</configuration>